<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @department.title %>
</p>

<p>
  <strong>Url key:</strong>
  <%= @department.url_key %>
</p>

<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path %>
