.ui.form.bottom.attached.segment
    = form_for(@ticket) do |f| 
        - if @ticket.errors.any?
            .ui.error.message
                %i.close.icon
                .header
                    Whoops...

                %ul
                    - @ticket.errors.full_messages.each do |msg|
                        %li
                            = msg

        .field
            .ui.left.labeled.icon.input
                = f.text_field :reporter_name, :placeholder => 'Your name'

                %i.user.icon
                .ui.corner.label
                    %i.icon.asterisk

        .field
            .ui.left.labeled.icon.input
                = f.text_field :reporter_email, :placeholder => 'Your email'

                %i.mail.icon
                .ui.corner.label
                    %i.icon.asterisk

        .field
            = label_tag :department, 'Department'
            = select_tag :department, options_from_collection_for_select(Department.all, 'url_key', 'title')

        .field
            .ui.left.labeled.input
                = f.text_field :title, :placeholder => "Name your ticket"

                .ui.corner.label
                    %i.icon.asterisk

        .field
            .ui.left.labeled.input
                = f.text_area :body, :placeholder => "Describe what's happening"

                .ui.corner.label
                    %i.icon.asterisk

        .actions
            = f.submit :class => 'ui blue submit button'